

/* nav bar start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 230px;
}

#nav-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.nav-title-color {
    color: var(--button-color);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: var(--Dark-02-color);
}

nav li button {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-family: 700;
    color: var(--white-color);
    background-color: var(--button-color);
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

nav li button span {
    color: var(--Dark-03-color);
}
/* nav bar end */

/* Banner section start */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-description {

}

#banner-img {
    width: 584px;
    height: 676px;
}
/* Banner section end */